@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #f7f7f7;
    margin: 0px;
    align-items: center;
    max-width: 100%;
    display: block;
}
main {
    height: auto;
    display: block;
}

header {
    background-color: white;
    width: 100%;
    margin: 0px;
}

h1,h2,p {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #373737;
}

#logo {
    height: 45px;
    width: 45px;
    margin: 8px 15px;
}

#menu {
    display: block;
    width: 100%;
    margin: 0px;
}

#menu li {
    color: #373737;
	display: block;
	margin: 18px; 25px 0px 15px;
	padding: 5px;
	width: auto;
	height: auto;
	list-style: none;
    position: relative;
	float: right;
}

a {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #373737;
  text-decoration: none;
}

}

.conteiner {
    background-color: whitesmoke;
}

#text {
    font-family: 'Ubuntu', sans-serif;
    margin:0px 0px 40px 0px;
    color: white;
}

.cont {
    position: relative;
    text-align: center;
    color: white;
}

.center-left {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    
}

.center-left img {
    width: 40%;
    margin-bottom: 20px;
    }

.center-top {
    position: absolute;
    top: 15%;
    left: 50.5%;
    transform: translate(-50%, -50%);
}

.container2 {
    display: flex;
    text-align: center;
}

#content {
    margin: 40px 0px 0px 0px;
    width: 33.3%;
}

#content-text {
    height: 25%;
}

#content-img {
    height: auto;
}

#wiki_b {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    color: #373737;
    background: white;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 40px 10px;
    padding: 10px; 
}

#request_b {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 15px;
    color: #373737;
    background-color: white;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 10px; 
}
#possibilities {
    width: 100%;
    height: auto;
    margin-top: -5px;
    margin-bottom: 20px;
    padding-top: 25px;
    align-content: center;
    text-align: center;
}

#possibilities h1 {
    font-family: 'Ubuntu', sans-serif;
    color: #373737; 
}

#possibilities_cont {
    display: flex;
    width: 100%;
}

#map {
    width: 50%;
}

#map img {
    border-radius: 35px;
    height: auto;
    width: 100%;
}

#map_button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color: #ff692a;
    width: auto;
    height: auto;
    margin-top: 15px;
}

#voice {
    width: 50%;
}

#voice_button {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 20px;
    color: #ff692a;
    width: auto;
    height: auto;
    margin-top: 15px;
}

#voice img {
    border-radius: 35px;
    height: auto;
    width: 100%;
}


footer {
    display: flex;
    padding: 10px;
    background-color: white;
}

footer a{
    margin: 10px 0px 10px 30px;
}



@media (max-width: 1500px) {
    .container {
        width: auto;
    }
}

@media (max-width: 1200px) {
    .container {
        width: auto;
    }
}

@media (max-width: 1199px) {
    .container {
        width: auto;
    }
}

@media (max-width: 991px) {
    .container {
        width: auto;
    }
}

@media (max-width: 767px) {
    .container {
        width: auto;
    }
}

@media (max-width: 575px) {
    .container {
        width: auto;
    }
}